@font-face {
    font-family: "Kristina";
    src: url("./Kristina-Fine.otf"),
        url("./Kristina-Bold.otf");
}

@font-face {
    font-family: "DiaPro";
    src: url("./DiaPro-Regular.eot"),
        url("./DiaPro-Regular.otf"),
        url("./DiaPro-Regular.woff");
}

@font-face {
    font-family: "KikaiChokoku";
    src: url("./KikaiChokokuJIS-Md.otf"),
        url("./KikaiChokokuJIS-XCnKn.otf"),
        url("./KikaiChokokuJIS-XCnKn.otf");
}

.goout {
    font-family: "Kristina", "KikaiChokoku", "Zen Maru Gothic", sans-serif;
}

.relax {
    font-family: "DiaPro", "Zen Maru Gothic", sans-serif;
}

body {
    font-family: "KikaiChokoku", "Zen Maru Gothic", sans-serif;
}